body{
    margin: 0;
}
.brand{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(66,66,222,1) 43%, rgba(0,212,255,1) 100%);
}
.text_logo{
    height: 400px;
    width: 450px;
    position: absolute;
    top: 33%;
    left: 15%;
    color: #c1c1e8;
}
.text_logo>h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#000000, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.menu{
    height: 100vh;
    width: 6vh;
    background:black;
    position: relative;

}
#block{
    writing-mode: vertical-rl;
    transform: rotateZ(360deg);
    color: #32e7cc;
    position: absolute;
    top: 40%;
    text-align: left;
    font-size: 20px;

}
/*h2 {*/
/*    transform: rotate(90deg);*/
/*    transform-origin: left;*/
/*    margin-left: 1px;*/
/*    color: #852c98;*/
/*}*/
/*header{*/
/*    height: 100vh;*/
/*    background: #f6cba3;*/

/*}*/

.about{
    padding-bottom: 20px;
    padding-top: 100px;
    text-align: center;
}

.about_us{
    padding-bottom: 100px;

}

.our_works{
    padding-top: 80px;
    background: #dedede;
}
.colons{
    background: #dedede;
}

card{
    margin-top: 120px;
}

.main_mix_menu{
    padding-top: 20px;
    padding-bottom: 40px
;
}

section{
    padding-bottom: 10PX;
}

.back{
    background: #dedede;
}

.card{
    background: #ffffff;
    --bs-card-border-width: 0;
    margin: 0 auto; /* для центра */
    float: none; /* для центра */
    margin-bottom: 10px; /* для центра */
    --bs-card-border-radius: 3em;
}

.more{
    font-size: 20px;
    padding-bottom: 20px;
}

.why_shoose_us{
    padding-top: 100px;
    padding-bottom: 40px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 40px;
}

.ny{
    height: 100vh;
}
/* Container holding the image and the text */
.ny {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 130px;
    left: 50em;
}
.centered>h1  {
    font-size: 40px;
}
.rightimg{
    float: left;
}

.our_team{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
}
.our_t{
    padding-bottom: 30px;
}